.SideBar-containier{
    width: 20vw;
    height: 100%;
    padding: 1em;
    flex-direction: column; 
    display: flex;
}

.navbar{
    text-align: center;
    width: 15rem;
    background: rgba(255, 255, 255, 0.1);
    border: 0rem;
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
}

.navbar-container-selected{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    background-color: rgb(125, 243, 247);
}